#login-page{
    padding: 2rem 0;

    form{
        display:flex;
        flex-direction: column;
        width: 75vw;

        margin: 0 auto;

        font-size:2rem;

        label{
            margin-top:1rem;
            font-weight: bold;
            text-decoration: underline pink;
        }

        button{
            margin: 2rem auto;
            width: 75%;
        }
    }

    @media(min-width: 640px){
        h3 {
            font-size: 4rem;
        }

        form{
            width: 25%;
        }
    }
}

