@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root{
  --nav-bg-color: rgba(0,0,0,.3);
  --footer-bg-color: rgba(0,0,0,.5);
}
#root{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

*{
  padding:0;
  margin: 0;
}

html{
  font-size: 62.5%
}

body{
  &::before{
    display:inline-block;
    content: "";
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: -5;



    background-image: url("./assets/background.svg");
    background-repeat: repeat;
    background-size: 100% auto;

    filter: blur(1rem);
  }

  &{
    color:black;
  }
  & h1,h2,h3,h4,h5,h6{
    text-shadow: white .3rem .3rem .2rem;
    font-family: "Story Script", sans-serif;
  }
  & h3{
    text-align: center;
    margin: 2rem 0;
    font-size:2rem;

    text-decoration: underline deeppink;
  }
  & p{
    font-family: "Roboto Light", sans-serif;
  }
}

main{
  display:inline-block;
  flex-grow: 1;


}

.hidden{
  display:none;
}

.img-container{
  display: inline-block;
  overflow: hidden;

  & img{
    object-fit:cover;
    width: 100%;
    height: 100%;
  }
}
